@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --strong-cyan: hsl(172, 67%, 45%);

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan-2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --ff-main: "Space Mono", monospace;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: var(--light-grayish-cyan);
  text-rendering: optimizeSpeed;
  font-family: var(--ff-main);
  text-rendering: optimizeSpeed;
  display: grid;
  justify-items: center;
  position: relative;
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 92rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
}
@media (min-width: 1024px) {
  .container {
    gap: 9rem;
    margin-bottom: 7.9rem;
    justify-content: center;
  }
}

.calculator__logo {
  margin-top: 5rem;
}
@media (min-width: 1024px) {
  .calculator__logo {
    margin-top: 0rem;
  }
}

.calculator {
  background: var(--white);
  width: 100%;
  border-radius: 2rem;
  padding: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  transition: flex-direction 250ms ease-in;
}
@media screen and (min-width: 1024px) {
  .calculator {
    flex-direction: row;
    padding: 3rem;
    gap: 3rem;
  }
}

.calculator__input {
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0.6rem;
}
@media screen and (min-width: 1024px) {
  .calculator__input {
    flex: 0 1 50%;
    gap: 3.8rem;
    padding: 1.7rem 1.6rem 1.6rem;
  }
}

.input__bill-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.input__bill-container::before {
  content: url(../images/icon-dollar.svg);
  position: absolute;
  top: 60%;
  left: 5%;
  z-index: 2;
}

.input__bill--custom {
  width: 100%;
}

.input__tip-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input__tip-header {
}

.input__tip-options {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 5rem);
  gap: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .input__tip-options {
    grid-template-columns: repeat(3, minmax(5rem, 1fr));
    grid-template-rows: repeat(2, 5rem);
  }
}

.input__tip-option {
  background: var(--very-dark-cyan);
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
}

.input__tip--custom {
  width: 100%;
  border: none;
  background: var(--light-grayish-cyan-2);
  text-align: right;
  color: var(--very-dark-cyan);
  caret-color: #26c0ab;
  font-size: 2.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 2rem;
}
@media screen and (min-width: 1024px) {
  .input__tip--custom {
    padding: 0rem;
    text-align: center;
  }
}
.input__tip--custom::placeholder {
  color: var(--dark-grayish-cyan);
}

.input__people-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.input__people-container::before {
  content: url(../images/icon-person.svg);
  position: absolute;
  top: 60%;
  left: 5%;
  z-index: 2;
}

.calculator__output {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  background: var(--very-dark-cyan);
  border-radius: 1.5rem;
  padding: 4rem 2.3rem 2.5rem;
}
@media screen and (min-width: 1024px) {
  .calculator__output {
    flex: 0 1 50%;
    padding: 4.8rem 4rem 4.2rem;
    gap: 3rem;
  }
}

.output__tip-container {
  display: flex;
  justify-content: space-between;
}

.output__total-container {
  display: flex;
  justify-content: space-between;
}

.output__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.output__header > h3 {
  font-size: 1.6rem;
  color: var(--white);
}

.output__header > span {
  font-size: 1.3rem;
  color: var(--dark-grayish-cyan-2);
}

.output__total {
  font-size: 3rem;
  color: var(--strong-cyan);
}
@media screen and (min-width: 1024px) {
  .output__total {
    font-size: 4.5rem;
  }
}

.calculator__reset {
  width: 100%;
  text-transform: uppercase;
  background: var(--strong-cyan);
  font-size: 2rem;
  font-weight: 700;
  color: var(--very-dark-cyan);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;

  margin-top: 1.2rem;
}
@media screen and (min-width: 1024px) {
  .calculator__reset {
    margin-top: auto;
  }
}

/* UTILITY */
input:focus-visible {
  outline: 2px solid var(--strong-cyan);
}

input::placeholder {
  color: var(--light-grayish-cyan);
}

.header-style {
  font-size: 1.6rem;
  color: var(--dark-grayish-cyan);
}

.custom-style {
  width: 100%;
  position: relative;
  border: none;
  background: var(--light-grayish-cyan-2);
  padding: 0.5rem 2rem;
  text-align: right;
  color: var(--very-dark-cyan);
  caret-color: #26c0ab;
  font-size: 2.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
